*.iml
*.ipr
*.iws
*.log
*.swp
*/.gitignore
*~
.classpath
.project
.settings
.tern-project
.clover
.DS_Store
.errai
.faces-config.xml.faceside
.faces-config.xml.jsfdia
.gitkeep
.idea
.metadata
.nbattrs
.openshift
bin
build
node_modules
out
target